*{
  margin:0;
  padding: 0;
  box-sizing: border-box;


}
.container-geral{

  width: 110vh;
  height: 86vh;
  margin-top: 30px;
  margin-left: 350px;
  box-shadow:  2px 12px 18px -1px rgba(156,143,143,0.56);
  -webkit-box-shadow: 2px 12px 18px -1px rgba(156,143,143,0.56);
  -moz-box-shadow: 2px 12px 18px -1px rgba(156,143,143,0.56);
  border-radius: 20px;
}
.row{
  display: flex;
}


