.content-second {
  background-color: #2bb3b1;
  height: 46vh;
  padding: 30px;
  color: white;
  border-bottom-left-radius: 10px;
}


button{
  background-color:#bfdf32;
  box-shadow:  2px 12px 18px -1px rgba(156,143,143,0.56);
  -webkit-box-shadow: 2px 12px 18px -1px rgba(156,143,143,0.56);
  -moz-box-shadow: 2px 12px 18px -1px rgba(156,143,143,0.56);
}
span{
  font-size: small;
  color: rgb(13, 221, 221);
}


